.page-tab
	+pos(rel,null)
	padding: 20px 0 0
	.cate-toggle
		display: none
		+fs(15rem)
		line-height: 18px
		padding: 10px 20px
		+bor-rad(5px)
		border: 1px solid darken($white,10%)
		font-weight: 500
		text-transform: uppercase
		color: $green
		+pos(rel,null)
		width: 280px
		+media-breakpoint-down(lg)
			display: block
		+media-breakpoint-down(sm)
			width: 100%
		&:before
			content: '\f107'
			+pos(abs, 10px 15px null null)
			+fs(18rem)
	ul, .nav-tabs
		margin: 0
		padding: 0
		background: none
		border: none
		+bor-rad(0)
		+flexbox
		justify-content: center
		border-bottom: 1px solid darken($white,10%)
		+media-breakpoint-down(lg)
			display: none
			+pos(abs, null null null auto)
			width: 280px
			z-index: 3
			background: $white
			+bor-rad(5px)
			padding: 10px 0
			border: 1px solid darken($white,10%)
			margin-top: 10px
		+media-breakpoint-down(sm)
			width: auto
			left: 15px
			right: 15px
		li, .nav-item
			margin: 0
			padding: 0
			background: none
			border: none
			+bor-rad(0)
			+transition(all,0s)
			margin-bottom: -1px
			+media-breakpoint-down(lg)
				display: block
			+ li, + .nav-item
				margin-left: 30px
				+media-breakpoint-down(lg)
					margin-left: 0
			a, .nav-link
				display: block
				+fs(15rem)
				color: darken($white,60%)
				line-height: 20px
				padding: 15px 0
				border: none
				border-bottom: 1px solid transparent
				+bor-rad(0)
				+media-breakpoint-down(lg)
					border-bottom: none
					padding: 8px 20px
				&:hover
					color: $green
				&.active, &.mPS2id-highlight
					color: $green
					border-bottom-color: $green
					+media-breakpoint-down(lg)
						background: $lightgreen
						color: $white
			&.active
				a, .nav-link
					color: $green
					border-bottom-color: $green
					+media-breakpoint-down(lg)
						background: $lightgreen
						color: $white

.responsivetabs
	@extend .page-tab
	.tabs-list
		justify-content: flex-start
		border-bottom: 2px solid $red
		.tab-item
			+ .tab-item
				margin-left: -20px
			a
				background: darken($white,4%)
				+fs(15rem)
				text-transform: uppercase
				color: darken($white,40%)
				line-height: 20px
				padding: 10px 40px
			&:hover, &.r-tabs-state-active
				a
					background: $red
					color: $white
	.r-tabs-accordion-title
		margin-top: 10px
		a
			display: block
			+fs(14rem)
			text-transform: uppercase
			background: darken($white,4%)
			line-height: 20px
			padding: 10px 20px
			+pos(rel,null)
			&:after
				content: '\f107'
				+pos(abs, 10px 20px null null)
				+transition(all,0.5s)
		&.r-tabs-state-active
			a
				background: $red
				color: $white
				&:after
					+transform(scale(1,-1))
	.tab-content
		padding: 20px 0px 30px
		border-bottom: 1px solid darken($white,5%)
		+media-breakpoint-down(md)
			padding: 20px
			border: 1px solid darken($white,5%)
			border-top: none
		+media-breakpoint-down(sm)
			padding: 15px