body
	padding-top: 100px
	+media-breakpoint-down(lg)
		padding-top: 50px
header
	background: $white
	box-shadow: 0px 2px 5px color-rgba($black,0.15)
	+pos(fix, 0 0 null 0)
	z-index: 1000
	&.minimal
		+media-breakpoint-up(xl)
			.sitelogo
				height: 70px
				+transition(all,0.5s)
	.header-wrap
		+flexbox
		align-items: center
		align-content: center
		+media-breakpoint-down(lg)
			justify-content: space-between
	.sitelogo
		height: 100px
		+flexbox
		align-items: center
		align-content: center
		justify-content: center
		+media-breakpoint-down(lg)
			height: 50px
		a
			display: block
		img
			+media-breakpoint-down(lg)
				height: 30px
	.btn-showmenu
		display: none
		+media-breakpoint-down(lg)
			+flexbox
			align-items: center
			align-content: center
			justify-content: center
			background: $green
			color: $white
			width: 30px
			height: 30px
			+bor-rad(50px)
			.material-icons
				+fs(18rem)
	.overlay
		+pos(fix, 0 null 0 0)
		right: 0
		background: $black
		opacity: 0.8
		z-index: 800
		display: none
	.menu
		margin-left: 40px
		+media-breakpoint-down(lg)
			margin-left: 0
			+pos(fix, 0 null 0 0)
			width: 280px
			z-index: 1000
			background: $white
			+transition(all,0.5s)
			+transform(translateX(-100%))
			&.open
				+transform(translateX(0))
		.menu-logo
			display: none
			+media-breakpoint-down(lg)
				+flexbox
				background: url(../img/homepattern.jpg) center repeat
				align-items: center
				align-content: center
				justify-content: center
				padding: 30px 0
				.sitelogo
					img
						height: 40px
		.menu-wrap
			ul.menu-link
				+flexbox
				align-items: center
				align-content: center
				+media-breakpoint-down(lg)
					display: block
					padding: 15px
				li
					+ li
						margin-left: 30px
						+media-breakpoint-down(lg)
							margin-left: 0
					a
						display: block
						+fs(16rem)
						color: $main
						padding: 5px 0
						+pos(rel,null)
						+media-breakpoint-down(lg)
							padding: 8px 15px
							+bor-rad(50px)
						&:after
							content: ''
							display: block
							height: 2px
							background: $green
							+pos(abs, null 50% 0 50%)
							+transition(all,0.5s)
					&:hover, &.active
						a
							+media-breakpoint-down(lg)
								background: $green
								color: $white
							&:after
								+media-breakpoint-up(xl)
									left: 0
									right: 0
	.col-right
		flex: auto
		+flexbox
		align-items: center
		align-content: center
		justify-content: flex-end
		+media-breakpoint-down(lg)
			flex: unset
			flex-wrap: wrap
			justify-content: space-between
			width: 100%
			padding: 0px 15px
	.hotline
		a
			+flexbox
			align-items: center
			align-content: center
			+fs(16rem)
			height: 30px
			padding: 0px 20px
			font-weight: 600
			color: $white
			background: $green
			+bor-rad(50px)
			white-space: nowrap
			+media-breakpoint-down(lg)
				+fs(14rem)
				padding: 0px 10px
			.material-icons
				+fs(18rem)
				+media-breakpoint-down(lg)
					+fs(16rem)
			&:hover
				background: $lightgreen
	.social
		margin-left: 10px
		+flexbox
		align-items: center
		align-content: center
		a
			+flexbox
			width: 30px
			height: 30px
			overflow: hidden
			align-items: flex-start
			+transition(all,0.5s)
			+ a
				margin-left: 10px
				+media-breakpoint-down(lg)
					margin-left: 5px
			img
				+transition(all,0.5s)
			&:hover
				img
					+transform(translateY(-30px))
	.search
		margin-left: 10px
		.search-toggle
			+flexbox
			align-items: center
			align-content: center
			justify-content: center
			color: $green
			width: 30px
			height: 30px
			border: 1px solid darken($white,10%)
			+bor-rad(50px)
			+transition(all,0.5s)
			.material-icons
				+fs(18rem)
			&:hover
				background: $lightgreen
				border-color: $lightgreen
				color: $white
		.search-wrap
			display: none
	.language
		margin-left: 10px
		+flexbox
		align-items: center
		align-content: center
		justify-content: center
		+media-breakpoint-down(lg)
			margin-left: 0
			margin-top: 20px
			width: 100%
		a
			+fs(12rem)
			line-height: 1
			color: darken($white,20%)
			padding: 0px 5px
			+ a
				border-left: 1px solid darken($white,10%)
			&.active
				color: $green
				text-decoration: underline



