section.banner-wrap
	.home-banner
		.banner-slide
			.item
				.banner-img
					img(src="img/banner/1.jpg", alt="")
			.item
				.banner-img
					img(src="img/banner/1.jpg", alt="")
			.item
				.banner-img
					img(src="img/banner/1.jpg", alt="")
		.banner-nav
			.item
				.banner-caption
					.title Thịnh Trí An Tâm Thành Tài
					.des Cha mẹ sẽ cho con một tương lai tốt đẹp nhất
			.item
				.banner-caption
					.title Thịnh Trí An Tâm Thành Tài
					.des Cha mẹ sẽ cho con một tương lai tốt đẹp nhất
			.item
				.banner-caption
					.title Thịnh Trí An Tâm Thành Tài
					.des Cha mẹ sẽ cho con một tương lai tốt đẹp nhất
	.container
		.banner-login
			.login-form
				.module-title Thành viên Cathay Life Việt Nam
				.btn-wrap
					a.btn-login(href="#!") Đăng nhập
				.form-link
					a(href="#!") Quên mật khẩu
					a(href="#!") Đăng ký