header
	.container
		.header-wrap
			.btn-showmenu <i class="material-icons">menu</i>
			.overlay
			.sitelogo
				a(href="index.html")
					img(src="img/logo.png", alt="")
			.menu
				.menu-logo
					.sitelogo
						a(href="index.html")
							img(src="img/logow.png", alt="")
				.menu-wrap
					ul.menu-link
						li.active
							a(href="#!") Giới thiệu
						li
							a(href="#!") Sản phẩm
						li
							a(href="#!") Nhu cầu
						li
							a(href="#!") Dành cho khách hàng
						li
							a(href="#!") Tin tức
			.col-right
				.hotline
					a(href="tel:0-28-6255 6593") <i class="material-icons">local_phone</i>0-28-6255 6593
				.social
					a(href="#!")
						img(src="img/icon/fb.png", alt="")
					a(href="#!")
						img(src="img/icon/yt.png", alt="")
					a(href="#!")
						img(src="img/icon/mail.png", alt="")
				.search
					.search-toggle <i class="material-icons">search</i>
					.search-wrap
						.searchbox
							input(type="text" placeholder="Tìm kiếm...")
							button.searchbutton <i class="material-icons">search</i>
				.language
					a.active(href="#!") VN
					a(href="#!") EN