section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/4.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename Dịch vụ chăm sóc KH VIP
			ol.breadcrumb
				li
					a(href="#!") 
						span Trang chủ
				li
					a(href="#!")
						span Dành cho khách hàng
				li
					a(href="#!")
						span Chỉ số tham khảo
nav.page-tab
	.container
		.cate-toggle Danh mục
		ul
			li.active
				a(href="#!") Lãi suất công bố
			li
				a(href="#!") Lãi suất tạm ứng & vay phí BH
			li
				a(href="#!") Lãi suất công bố quỹ Liên kết chung
section.customer-section
	.container
		h1.home-title.text-center Lãi suất công bố
		.customer-interest
			.filter
				label Danh sách lãi suất
				.select-wrap
					select
						option Năm 2017
			.interest-table
				table
					thead
						tr
							th(rowspan="2") Mã SP
							th(rowspan="2") Sản phẩm
							th.text-center(colspan="12") Lãi suất hàng tháng
						tr.text-center
							th 1
							th 2
							th 3
							th 4
							th 5
							th 6
							th 7
							th 8
							th 9
							th 10
							th 11
							th 12
					tbody
						tr
							td C01
							td Thịnh An Tiết Kiệm Thuần Túy
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
						tr
							td C01
							td Thịnh An Tiết Kiệm Thuần Túy
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
						tr
							td C01
							td Thịnh An Tiết Kiệm Thuần Túy
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
						tr
							td C01
							td Thịnh An Tiết Kiệm Thuần Túy
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
						tr
							td C01
							td Thịnh An Tiết Kiệm Thuần Túy
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
						tr
							td C01
							td Thịnh An Tiết Kiệm Thuần Túy
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
						tr
							td C01
							td Thịnh An Tiết Kiệm Thuần Túy
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
						tr
							td C01
							td Thịnh An Tiết Kiệm Thuần Túy
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
						tr
							td C01
							td Thịnh An Tiết Kiệm Thuần Túy
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
						tr
							td C01
							td Thịnh An Tiết Kiệm Thuần Túy
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%
							td 8.50%