section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/4.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename Dịch vụ chăm sóc KH VIP
			ol.breadcrumb
				li
					a(href="#!") 
						span Trang chủ
				li
					a(href="#!")
						span Dành cho khách hàng
				li
					a(href="#!")
						span Dịch vụ chăm sóc khách hàng VIP
section.customer-section
	.container
		h1.home-title.text-center Tiêu chuẩn khách hàng VIP 2018
		.content
			h5.text-green.mb-4
				strong Phí bảo hiểm đã đóng theo năm theo (*) công thức quy đổi thỏa điều kiện:
		.row
			.col-12.col-lg-8.col-xl-9
				.customer-table.mb-3.mb-lg-5
					table
						tr
							th Tiêu Chuẩn
							th Điều Kiện
							th Ưu Đãi
						tr
							td Lam Ngọc
							td Trong năm 2017, tổng phí bảo hiểm của sản phẩm chính (theo năm), sau khi quy đổi có giá trị từ 50 triệu đồng trở lên.
							td (
								span.text-red **
								|) Phiếu quà tặng giá trị 500,000 đồng.
						tr
							td Hồng Ngọc
							td Trong hai năm (2016 và 2017), tổng phí bảo hiểm của sản phẩm chính (theo năm), sau khi quy đổi có giá trị từ 50 triệu đồng trở lên.
							td (
								span.text-red **
								|) Phiếu quà tặng giá trị 1,000,000 đồng.
						tr
							td Kim Cương
							td Trong ba năm (2015, 2016 và 2017), tổng phí bảo hiểm của sản phẩm chính (theo năm), sau khi quy đổi có giá trị từ 50 triệu đồng trở lên.
							td (
								span.text-red **
								|) Phiếu quà tặng giá trị 2,000,000 đồng.
			.col-12.col-lg-4.col-xl-3
				.content
					ul(style="list-style-type:none;padding-left:0")
						li.mb-3 (
							span.text-red *
							|) Công thức quy đổi: theo công thức phòng Planning (Actuary)cung cấp.
						li.mb-3 (
							span.text-red **
							|) Phiếu quà tặng này, khách hàng có thể thanh toán cho hàng hóa và dịch vụ tại 53 thương hiệu (với 630 cửa hàng) trên toàn quốc.
		.customer-note
			h2.home-title.text-center Một số điểm cần lưu ý
			.content
				ol
					li.mb-4 Khách hàng là Bên mua bảo hiểm của hợp đồng và trở thành khách hàng thân thiết của công ty sẽ được tham gia các ưu đãi trên.
					li.mb-4 Chương trình Khách hàng thân thiết, phiếu quà tặng sẽ do đại lý phục vụ hoặc nhân viên phục vụ gửi trực tiếp đến khách hàng, và giấy ký nhận sẽ trả về công ty.
					li.mb-4 Các hợp đồng bảo hiểm của khách hàng phải còn hiệu lực tại thời điểm nhận phiếu quà tặng.
					li.mb-4 
						.row
							.col-12.col-lg-4
								p Công thức quy đổi: theo công thức phòng Planning (Actuary) cung cấp, ví dụ một số sản phẩm như sau: 
							.col-12.col-lg-8
								.customer-table.customer-table2
									table
										tr
											th Tên thương mại
											th Tên thương mại
										tr
											td Thịnh An Tiết Kiệm Thông Minh
											td Phí thực tế đã đóng chia 20
										tr
											td Thịnh An Tiết Kiệm Vượt Trội
											td Phí thực tế đã đóng chia 10
										tr
											td Bảo hiểm Đảm Bảo Tín Dụng Cathay
											td Phí thực tế đã đóng chia 20
										tr
											td Thịnh An Tiết Kiệm Thuần Túy
											td + Đóng phí một lần: Phí thực tế đã đóng chia 20
												br
												|+ Đóng phí theo định kỳ: Phí thực tế đã đóng chia 10
					li.mb-4 
						.row
							.col-12.col-lg-4
								p Bảng phí bảo hiểm đạt chuẩn sau khi quy đổi:
								ul.dot.mt-3
									li.mb-2 Tiêu chuẩn khách hàng thân thiết có thể được điều chỉnh hàng năm.
									li Ngày công bố: 31/12 hàng năm.
							.col-12.col-lg-8
								.customer-table.customer-table2
									table
										tr
											th Năm
											th Phí bảo hiểm sau khi quy đổi (tối thiểu)
										tr
											td 2015
											td 50 triệu (được viết tắt là 50M)
										tr
											td 2016
											td 50 triệu
										tr
											td 2017
											td 50 triệu
