section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/4.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename Dịch vụ thẩm định
			ol.breadcrumb
				li
					a(href="#!") 
						span Trang chủ
				li
					a(href="#!")
						span Dành cho khách hàng
				li
					a(href="#!")
						span Dịch vụ thẩm định
//- nav.page-tab
	.container
		.cate-toggle Danh mục
		ul
			li.active
				a(href="#!") Lãi suất công bố
			li
				a(href="#!") Lãi suất tạm ứng & vay phí BH
			li
				a(href="#!") Lãi suất công bố quỹ Liên kết chung
section.customer-section
	.container
		h1.home-title.text-center Quy trình thẩm định
		.verify-program.text-center
			img(src="img/customer/thamdinh.png", alt="")
section.customer-section.s2
	.container
		.row
			.col-12.col-lg-6
				.verify-intro.mb-3
					h2.home-title Giới thiệu chung
					.content
						p Với đội ngũ các chuyên viên thẩm định chuyên nghiệp và các bác sĩ nhiều năm kinh nghiệm trong lĩnh vực y khoa, phương châm làm việc của chúng tôi là thực hiện đánh giá và lựa chọn rủi ro một cách chính xác nhằm đảm bảo sự công bằng đối với khách hàng, và nhằm duy trì sự ổn định trong kinh doanh của Công ty.
						.verify-place <i class="material-icons">add_location</i>
							strong Phòng thẩm định của công ty TNHH bảo hiểm nhân thọ Cathay
							br
							|Tòa nhà The World Center, 46-48-50 Phạm Hồng Thái, Quận 1, TP. HCM.
						h5.text-green
							strong Địa chỉ Bệnh viện/Phòng khám liên kết
						p Để thực hiện kiểm tra sức khỏe cho khách hàng khi tham gia bảo hiểm, hiện tại công ty chúng tôi liên kết với các bệnh viện/phòng khám, vui lòng vào liên kết sau để xem địa chỉ: 
							a.text-green(href="") Địa chỉ bệnh viện/phòng khám
			.col-12.col-lg-6
				.verify-img
					img.w-100(src="img/customer/img1.jpg", alt="")
section.customer-section
	.container
		.customer-require
			.row
				.col-12.col-lg-6
					.require-img.mb-3
						img.w-100(src="img/customer/img2.jpg", alt="")
				.col-12.col-lg-6
					h2.home-title Hồ sơ yêu cầu bảo hiểm mới
					.content 
						p Một bộ hồ sơ yêu cầu bảo hiểm mới bao gồm các giấy tờ sau:
						ul.dot-green
							li.mb-1 Đơn yêu cầu bảo hiểm.
							li.mb-1 Báo cáo đại lý.
							li.mb-1 Bảng minh họa hợp đồng.
							li.mb-1 Bản sao giấy tờ chứng minh nhân thân của Bên mua BH và Người được BH.
							li.mb-1 Phiếu thu phí bảo hiểm đầu tiên + Phí bảo hiểm đầu tiên.
						p Ngày kế tiếp sau ngày đại lý nộp hồ sơ yêu cầu bảo hiểm tại trung tâm dịch vụ khách hàng của công ty, phòng thẩm định sẽ bắt đầu công việc đánh giá rủi ro.
