section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/4.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename Giải quyết quyền lợi BH
			ol.breadcrumb
				li
					a(href="#!") 
						span Trang chủ
				li
					a(href="#!")
						span Dành cho khách hàng
				li
					a(href="#!")
						span Giải quyết quyền lợi bảo hiểm
//- nav.page-tab
	.container
		.cate-toggle Danh mục
		ul
			li.active
				a(href="#!") Lãi suất công bố
			li
				a(href="#!") Lãi suất tạm ứng & vay phí BH
			li
				a(href="#!") Lãi suất công bố quỹ Liên kết chung
section.customer-section.st
	.container
		h1.home-title.text-center I. Sơ đồ giải quyết quyền lợi bảo hiểm
		.img.text-center
			img.w-100(src="img/customer/chart2.png", alt="")
section.customer-section.s2.st
	.container
		h2.home-title.text-center II. Thụ lý
		.row
			.col-12.col-lg-6
				.thuly-content.content
					h5 
						strong.text-uppercase Người yêu cầu giải quyết quyền lợi bảo hiểm:
					ol.mb-5
						li.mb-3 Người yêu cầu: là người có đầy đủ năng lực hành vi dân sự, có quyền yêu cầu thanh toán quyền lợi bảo hiểm, đồng thời phải cung cấp các hồ sơ cần thiết để Công ty thực hiện giải quyết quyền lợi bảo hiểm.
						li.mb-3 Nếu người yêu cầu dưới 18 tuổi, người giám hộ đương nhiên/ người giám hộ hợp pháp sẽ là người yêu cầu và cần cung cấp giấy tờ chứng minh mối quan hệ liên quan với người yêu cầu.
						li.mb-3 Đối với trường hợp giải quyết quyền lợi thương tật: người được bảo hiểm là người yêu cầu.
						li.mb-3 Đối với trường hợp giải quyết quyền lợi tử vong: Người thụ hưởng là người yêu cầu. Nếu Người thụ hưởng qua đời trước Người được bảo hiểm hoặc mất đi quyền thụ hưởng, khi đó quyền lợi tử vong được xem là di sản của Người được bảo hiểm và người yêu cầu là người đại diện hàng thừa kế của Người được bảo hiểm theo pháp luật Việt Nam.
					h5
						strong.text-uppercase Thời gian yêu cầu giải quyết quyền lợi bảo hiểm
					p Thời gian người yêu cầu đưa ra yêu cầu giải quyết quyền lợi bảo hiểm là 01 năm kể từ ngày xảy ra sự kiện bảo hiểm. Quá thời hạn này, mọi yêu cầu thanh toán quyền lợi bảo hiểm sẽ không được xem xét.
			.col-12.col-lg-6
				.img
					img.w-100(src="img/customer/img3.jpg", alt="")
section.customer-section.st
	.container
		h2.home-title.text-center III. Hồ sơ yêu cầu giải quyết quyền lợi bảo hiểm
		.hoso-content.content
			h3.text-uppercase.text-green.mb-0 
				strong Phân loại hồ sơ
			p.mb-4 Tuỳ theo các loại sự kiện bảo hiểm xảy ra khác nhau, đại lý sẽ hướng dẫn khách hàng hoàn tất hồ sơ và gửi về Công ty theo bảng phân loại hồ sơ như sau:
			h5.alphabet-title 
				.alphabet A
				|Quyền lợi tử vong
			.row.mb-4
				.col-12.col-md-6
					ol
						li.text-bold.mb-3
							span Đơn yêu cầu giải quyết quyền lợi bồi thường.
						li.text-bold.mb-3
							span Giấy tờ chứng minh tử vong:
								br
								|+ Giấy chứng tử (Bản chính hoặc bản sao công chứng) hoặc
								br
								|+ Trích lục tử vong (Bản chính hoặc bản sao công chứng)
						li.text-bold.mb-3
							span Hộ khẩu xóa tử của người được bảo hiểm (Bản sao công chứng)
						li.text-bold.mb-3
							span Hộ khẩu của người thụ hưởng (Bản sao công chứng)
						li.text-bold.mb-3
							span Thẻ tài khoản của người thụ hưởng (Bản sao - Nếu nhận tiền qua chuyển khoản)
				.col-12.col-md-6
					ol(start="6")
						li.text-bold.mb-3
							span Hợp đồng bảo hiểm (Bản chính)- (Nếu Người được bảo hiểm chính tử vong)
						li.text-bold.mb-3
							span Giấy Ủy quyền cho công ty Cathay đi xác minh và thu thập thông tin có xác nhận của UBND phường/xã nơi cư ngụ (bản chính)
						li.text-bold.mb-3
							span Sơ đồ  hiện trường, BB tai nạn, hồ sơ khám nghiệm tử thi pháp y, kết luận của công an hay phán quyết của tòa án - đối với quyền lợi tử vong do tai nạn. 
						li.text-bold.mb-3
							span Hồ sơ điều trị của khách hàng như giấy xuất viện, bệnh án, đơn thuốc, kết quả xét nghiệm - đối với quyền lợi tử vong do bệnh.
						li.text-bold.mb-3
							span Các giấy tờ cần thiết khác theo yêu cầu công ty
			h5.alphabet-title 
				.alphabet B
				|Quyền lợi thương tật và mất tích
			h5.text-green.text-uppercase 
				strong B.1 Trường hợp thương tật
			.customer-table3.mb-5
				table
					thead
						tr
							th Thương tật toàn bộ vĩnh viễn và thương tật cấp độ 1
							th Thương tật cấp độ 2 - cấp độ 7
					tbody
						tr
							td 
								ol.mb-0(start="1")
									li Đơn yêu cầu giải quyết QLBH
							td 
								ol.mb-0(start="1")
									li Đơn yêu cầu giải quyết QLBH
						tr
							td 
								ol.mb-0(start="2")
									li Kết quả giám định y khoa (bản chính)
							td 
								ol.mb-0(start="2")
									li Kết quả giám định y khoa (bản chính)
						tr
							td 
								ol.mb-0(start="3")
									li Hộ khẩu Người được bảo hiểm (NĐBH) (bản sao có công chứng)
							td 
								ol.mb-0(start="3")
									li Hồ sơ chứng nhận sức khỏe của NĐBH (bản chính)
						tr
							td 
								ol.mb-0(start="4")
									li Thẻ tài khoản của NĐBH (Bản sao - Nếu nhận tiền qua chuyển khoản)
							td 
								ol.mb-0(start="4")
									li CMND của NĐBH (bản sao công chứng)
						tr
							td 
								ol.mb-0(start="5")
									li Bộ HĐBH (bản chính)
							td 
								ol.mb-0(start="5")
									li Thẻ tài khoản của NĐBH (Bản sao - Nếu nhận tiền qua chuyển khoản)
						tr
							td 
								ol.mb-0(start="6")
									li Giấy Ủy quyền cho Cty Cathay đi xác minh và thu thập thông tin có xác nhận của UBND phường/xã nơi cư ngụ (bản chính)
							td 
								ol.mb-0(start="6")
									li Giấy Ủy quyền cho Cty Cathay đi xác minh và thu thập thông tin có xác nhận của UBND phường/xã nơi cư ngụ (bản chính)
						tr
							td 
								ol.mb-0(start="7")
									li Bệnh án và các chứng từ điều trị của bệnh viện (bản chính) BB hiện trường có xác nhận của Công an (nếu thương tật do tai nạn) (bản chính)
							td 
								ol.mb-0(start="7")
									li Bệnh án và các chứng từ điều trị của bệnh viện (bản chính) BB hiện trường có xác nhận của Công an (nếu thương tật do tai nạn) (bản chính)
						tr
							td 
								ol.mb-0(start="8")
									li Các giấy tờ cần thiết khác theo yêu cầu của công ty
							td 
								ol.mb-0(start="8")
									li Các giấy tờ cần thiết khác theo yêu cầu của công ty
			h5.text-green.text-uppercase 
				strong B.2 Trường hợp mất tích
			ol.mb-5
				li.text-bold.mb-1
					span Đơn yêu cầu giải quyết QLBH.
				li.text-bold.mb-1
					span Bản tường trình việc mất tích (bản chính)
				li.text-bold.mb-1
					span Phán quyết cuối cùng của Toà án (bản chính)
				li.text-bold.mb-1
					span Giấy tờ chứng minh tử vong: - Giấy chứng tử (Bản chính hoặc bản sao công chứng) hoặc - Trích lục khai tử (Bản chính hoặc bản sao công chứng)
				li.text-bold.mb-1
					span Hộ khẩu xóa tử của NĐBH (bản sao có công chứng)
				li.text-bold.mb-1
					span Hộ khẩu tên người thụ hưởng (NTH) (bản sao có công chứng)
				li.text-bold.mb-1
					span Thẻ tài khoản của người thụ hưởng (Bản sao - Nếu nhận tiền qua chuyển khoản)
				li.text-bold.mb-1
					span Bộ HĐBH (bản chính - Nếu Người được bảo hiểm chính mất tích)
				li.text-bold.mb-1
					span Giấy Ủy quyền cho Cty Cathay đi xác minh và thu thập thông tin có xác nhận của UBND phường/xã nơi cư ngụ (bản chính)
				li.text-bold.mb-1
					span BB hiện trường có xác nhận của Công an (bản chính)
				li.text-bold.mb-1
					span Các giấy tờ cần thiết khác theo yêu cầu của công ty
			h5.alphabet-title 
				.alphabet C
				|Quyền lợi hỗ trợ nằm viện
			ol.mb-5
				li.text-bold.mb-1
					span Đơn yêu cầu giải quyết quyền lợi bồi thường
				li.text-bold.mb-1
					span Giấy ra viện (bản chính)
				li.text-bold.mb-1
					span CMND của người thụ hưởng (bản sao)
				li.text-bold.mb-1
					span Thẻ tài khoản của người thụ hưởng (Bản sao - Nếu nhận tiền qua chuyển khoản)
				li.text-bold.mb-1
					span Giấy Ủy quyền cho Cty Cathay đi xác minh và thu thập thông tin có xác nhận của UBND phường/xã nơi cư ngụ (bản chính)
				li.text-bold.mb-1
					span Sơ đồ hiện trường, BB tai nạn, Kết luận của công an hay phán quyết của tòa án – đối với trường hợp nằm viện do tai nạn. 
				li.text-bold.mb-1
					span Hồ sơ điều trị của khách hàng như bệnh án, đơn thuốc, kết quả xét nghiệm.
				li.text-bold.mb-1
					span Các giấy tờ cần thiết khác theo yêu cầu công ty
			h5.alphabet-title 
				.alphabet D
				|Quyền lợi bệnh hiểm nghèo
			ol.mb-5
				li.text-bold.mb-1
					span Đơn yêu cầu giải quyết quyền lợi bồi thường
				li.text-bold.mb-1
					span Hồ sơ chẩn đoán bệnh hiểm nghèo (bản chính) hoặc Hồ sơ chứng minh tình trạng sức khỏe NĐBH  ở giai đoạn cuối (bản chính)
				li.text-bold.mb-1
					span Hộ khẩu tên người thụ hưởng (NTH) (bản sao có công chứng)
				li.text-bold.mb-1
					span Thẻ tài khoản người thụ hưởng (NTH) (bản sao)- Nếu nhận tiền bằng chuyển khoản
				li.text-bold.mb-1
					span Giấy Ủy quyền cho Cty Cathay đi xác minh và thu thập thông tin có xác nhận của UBND phường/xã nơi cư ngụ (bản chính)
				li.text-bold.mb-1
					span Hồ sơ điều trị của khách hàng như giấy xuất viện, bệnh án, đơn thuốc, kết quả xét nghiệm.
				li.text-bold.mb-1
					span Sơ đồ  hiện trường, BB tai nạn, kết luận của công an hay phán quyết của tòa án (trường hợp nguyên nhân do tai nạn).
				li.text-bold.mb-1
					span Các giấy tờ khác theo yêu cầu của công ty
			h3.text-uppercase.text-green
				strong Nộp hồ sơ
			ol
				li.text-bold.mb-3
					span Sau khi kê khai đầy đủ thông tin trong Đơn yêu cầu giải quyết quyền lợi bảo hiểm, người yêu cầu nộp đơn này cùng với toàn bộ hồ sơ yêu cầu giải quyết quyền lợi bảo hiểm tại quầy Trung tâm Dịch vụ khách hàng hoặc nhờ Tư vấn viên hỗ trợ.
				li.text-bold
					span Đối với hồ sơ đầy đủ và hợp lệ: sau khi nhận hồ sơ, nhân viên phục vụ khách hàng chuyển tất cả hồ sơ về Phòng Giải Quyết Quyền Lợi Bảo Hiểm để tiến hành thẩm định.
section.customer-section.st.s2
	.container
		h2.home-title.text-center IV. Thời gian giải quyết quyền lợi bảo hiểm
		.thoigian-content.content
			h5.text-uppercase.text-black
				strong Thời gian giải quyết quyền lợi bảo hiểm:
			p.mb-5 Sau khi nhận hồ sơ đầy đủ và hợp lệ, Công ty sẽ nhanh chóng thẩm định và thông báo khách hàng kết quả giải quyết quyền lợi bảo hiểm sớm nhất. Thời gian giải quyết quyền lợi bảo hiểm căn cứ theo điều khoản hợp đồng. Nếu quá thời hạn này và việc trì hoãn này do lỗi Công ty, Công ty sẽ tính lãi trên tổng số tiền thanh toán bằng với lãi suất tiền gửi không kỳ hạn của Ngân hàng nhà nước Việt Nam.
			.row
				.col-12.col-lg-6
					h5.text-uppercase.text-black
						strong Chi trả quyền lợi bảo hiểm:
					h5.text-green
						strong Người nhận quyền lợi bảo hiểm:
					p Theo điều khoản hợp đồng và tuỳ vào loại quyền lợi bảo hiểm, Cathay sẽ thanh toán quyền lợi bảo hiểm theo các trình tự như sau:
					ol.mb-5
						li.text-bold.mb-2 
							span Người thụ hưởng: nhận quyền lợi bảo hiểm theo chỉ định trên Đơn yêu cầu bảo hiểm.
						li.text-bold.mb-2 
							span Người được bảo hiểm: nhận Quyền lợi thương tật hoặc Quyền lợi nằm viện hoặc Quyền lợi bệnh hiểm nghèo.
						li.text-bold.mb-2 
							span Người thụ hưởng tử vong cùng lúc hay trước Người được bảo hiểm và Bên mua bảo hiểm chưa chỉ định người Thụ hưởng mới; dựa vào văn bản phân chia di sản Công ty thanh toán quyền lợi bảo hiểm tử vong cho người thừa kế hợp pháp của Người được bảo hiểm.
				.col-12.col-lg-6
					.img.mb-5
						img.w-100(src="img/customer/img4.jpg", alt="")
				.col-12.col-lg-6
					.img.mb-5
						img.w-100(src="img/customer/img5.jpg", alt="")
				.col-12.col-lg-6
					h5.text-green
						strong Phương thức thanh toán:
					p Để thuận tiện cho người nhận quyền lợi bảo hiểm, Công ty linh hoạt thanh toán quyền lợi bảo hiểm qua các phương thức như sau:
					ol.mb-5
						li.text-bold.mb-2 
							span Thanh toán bằng tiền mặt: người nhận quyền lợi bảo hiểm mang bản chính Chứng minh nhân dân đến quầy chi tiền tại Trung tâm phục vụ khách hàng. Giới hạn nhận tiền mặt: dưới 30 triệu đồng.
						li.text-bold.mb-2 
							span Thanh toán qua uỷ nhiệm chi: trường hợp quý khách không thể đến các Trung tâm Dịch vụ khách hàng Cathay để nhận quyền lợi và quý khách cũng chưa mở tài khoản, quý khách có thể yêu cầu nhận bằng giấy chứng minh nhân tại chi nhánh ngân hàng gần nhất. (Ngân hàng IVB, ngân hàng Sacombank).
						li.text-bold.mb-2 
							span Thanh toán qua chuyển khoản: dựa vào thông tin tài khoản của người nhận quyền lợi bảo hiểm đã được khách hàng ký tên và điền đầy đủ các chi tiết, Công ty chuyển khoản quyền lợi bảo hiểm theo yêu cầu của khách hàng.
section.customer-section.st
	.container
		h2.home-title.text-center V. Báo cáo bồi thường
		.baocao-content.content
			h5.text-uppercase.text-black
				strong Chi trả quyền lợi bảo hiểm: 2016-2017
			p.mb-4 Trong năm 2016-2017, Cathay đã chi trả quyền lợi bảo hiểm với tổng số tiền là 8.696.493.200 VNĐ. Số tiền này đã  góp phần hỗ trợ những mất mát về mặt tài chính và tinh thần, giúp Người được bảo hiểm và gia đình an tâm, đảm bảo cuộc sống trước những rủi ro không lường trước được.
		.customer-table3
			table.text-center
				thead
					tr
						th Năm
						th Quyền lợi
						th Số ca
						th Số tiền chi trả (VNĐ)
				tbody
					tr
						td(rowspan="3" style="vertical-align:middle")
							strong 2016
						td Tử vong & Thương tật
						td 29
						td 1,940,543,000
					tr
						td Bệnh hiểm nghèo
						td 8
						td 534,506,000
					tr
						td Nằm viện
						td 799
						td 1,161,381,000
					tr
						td(rowspan="3" style="vertical-align:middle")
							strong 2017
						td Tử vong & Thương tật
						td 45
						td 2,955,334,200
					tr
						td Bệnh hiểm nghèo
						td 5
						td 405,000,000
					tr
						td Nằm viện
						td 1411
						td 1,699,729,000
					tr
						td.text-left(colspan="2")
							strong TỔNG
						td
							strong 2297
						td
							strong 8,696,493,200
