section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!") 
						span Trang chủ
				li
					a(href="#!")
						span Giới thiệu
nav.page-tab.page-scroll
	.container
		.cate-toggle Danh mục
		ul
			li
				a(href="#section1") Giới thiệu chung
			li
				a(href="#section2") Lịch sử phát triển
			li
				a(href="#section3") Tầm nhìn, Sứ mệnh, Giá trị
			li
				a(href="#section4") Đội ngũ lãnh đạo
			li
				a(href="#section5") Giải thưởng
			li
				a(href="#section6") Văn phòng đại diện
			li
				a(href="#section7") Cathay Life Global
section#section1.about-section1
	.container
		.about-title-wrap
			.about-title-content
				h1.about-title 01. Giới thiệu công ty
				.about-des Cùng gieo mầm hôm nay, cho tương lai phồn thịnh
		.about-content
			.row
				.col-12.col-lg-6
					.content
						h4 
							strong.text-uppercase Công ty TNHH BHNT Cathay - Thương hiệu số 1 trong ngành bảo hiểm nhân thọ tại Đài Loan
						p Công ty TNHH BHNT Cathay thành lập tháng 08 năm 1962, trực thuộc tập đoàn tài chính hàng đầu Cathay. Trong hơn 4 thập niên qua, với sự hỗ trợ đắc lực của hơn 26.000 nhân viên chuyên nghiệp, các cổ đông cùng mạng lưới khách hàng rộng lớn, chính sách chăm sóc khách hàng chu đáo, công ty BHNT Cathay đã luôn duy trì được mức doanh thu, tài sản và chính sách phát triển ổn định. Ngày nay, tại Đài Loan, công ty BHNT Cathay chính là thương hiệu số một trong ngành bảo hiểm nhân thọ.
				.col-12.col-lg-6
					.about-img.text-center
						img(src="img/about/img1.png", alt="")
		.about-content2
			.content
				h4
					strong.text-uppercase Công ty TNHH BHNT Cathay Việt Nam: Cam kết cung cấp dịch vụ bảo hiểm và tài chính ưu việt nhất cùng chất lượng phục vụ hoàn hảo trên mọi phương diện cho người Việt Nam
				p Với mục tiêu trở thành tập đoàn tài chính vững mạnh nhất khu vực Châu Á, Công ty BHNT Cathay chính thức thành lập “Công ty bảo hiểm nhân thọ Cathay Việt Nam”, là công ty Châu Á đầu tiên được Bộ tài chính cấp phép hoạt động trong lĩnh vực bảo hiểm nhân thọ. Kế thừa lịch sử gần 50 năm hoạt động thành công cùng quan niệm kinh doanh thực tế, nhiệt thành phục vụ theo phương châm “Luôn tôn trọng khách hàng, hướng tới một dịch vụ hoàn hảo”, công ty Cathay ngày càng khẳng định được vị thế của mình tại thị trường trong và ngoài nước, tự tin đưa dịch vụ của công ty từ Đài Loan vươn tới thị trường Việt Nam.
				p Bước đầu gia nhập thị trường bảo hiểm nhân thọ Việt Nam, Cathay sẽ tiếp tực duy trì chính sách kinh doanh ổn định vững mạnh, cung cấp dịch vụ bảo hiểm tài chính toàn diện, đồng thời thực hiện mục tiêu trở thành tập đoàn tài chính vững mạnh nhất khu vực châu Á.
		.about-content-3
			.content
				h4.text-center
					strong Chiến lược phát triển kinh doanh tương hỗ
				figure.text-center
					img(src="img/about/img2.png", alt="")
section#section2.about-section2
	.container
		.about-title-wrap.text-right
			.about-title-content
				h2.about-title 02. Lịch sử phát triển
				.about-des Kế thừa gần 50 năm hoạt động thành công từ Cathay Life
		.history-wrap
			.history-slick
				.item
					.history-event
						.year 2010
						ul.event-list
							li
								time Tháng 10
								.event Mở văn phòng chi nhánh tại Hải Phòng
							li
								time Tháng 04
								.event Mở văn phòng chi nhánh tại Đồng Nai
				.item
					.history-event
						.year 2010
						ul.event-list
							li
								time Tháng 10
								.event Mở văn phòng chi nhánh tại Hải Phòng
							li
								time Tháng 04
								.event Mở văn phòng chi nhánh tại Đồng Nai
				.item
					.history-event
						.year 2010
						ul.event-list
							li
								time Tháng 10
								.event Mở văn phòng chi nhánh tại Hải Phòng
							li
								time Tháng 04
								.event Mở văn phòng chi nhánh tại Đồng Nai
				.item
					.history-event
						.year 2010
						ul.event-list
							li
								time Tháng 10
								.event Mở văn phòng chi nhánh tại Hải Phòng
							li
								time Tháng 04
								.event Mở văn phòng chi nhánh tại Đồng Nai
				.item
					.history-event
						.year 2010
						ul.event-list
							li
								time Tháng 10
								.event Mở văn phòng chi nhánh tại Hải Phòng
							li
								time Tháng 04
								.event Mở văn phòng chi nhánh tại Đồng Nai
				.item
					.history-event
						.year 2010
						ul.event-list
							li
								time Tháng 10
								.event Mở văn phòng chi nhánh tại Hải Phòng
							li
								time Tháng 04
								.event Mở văn phòng chi nhánh tại Đồng Nai
				.item
					.history-event
						.year 2010
						ul.event-list
							li
								time Tháng 10
								.event Mở văn phòng chi nhánh tại Hải Phòng
							li
								time Tháng 04
								.event Mở văn phòng chi nhánh tại Đồng Nai
				.item
					.history-event
						.year 2010
						ul.event-list
							li
								time Tháng 10
								.event Mở văn phòng chi nhánh tại Hải Phòng
							li
								time Tháng 04
								.event Mở văn phòng chi nhánh tại Đồng Nai

section#section3.about-section3
	.container
		.about-title-wrap
			.about-title-content
				h2.about-title 03. Tầm nhìn, Sứ mệnh, Giá trị
				.about-des Luôn tôn trọng khách hàng, hướng tới một dịch vụ hoàn hảo
		.about-content
			.row
				.col-12.col-lg-6
					.about-img.text-center
						img(src="img/about/img3.png", alt="")
				.col-12.col-lg-6
					.about-vision
						.vision
							figure
								.vision-img
									img(src="img/about/v1.png", alt="")
								figcaption
									.vision-name Tầm nhìn
									.vision-des Cathay Life Việt Nam tin tưởng sẽ nhân đôi thành công của chiến lược tác động kép hai mũi nhọn "Bảo hiểm + Ngân hàng" từ tập đoàn tài chính Cathay Đài Loan để trở thành định chế tài chính vững mạnh và đáng tin cậy nhất ở Việt Nam.
						.vision
							figure
								.vision-img
									img(src="img/about/v1.png", alt="")
								figcaption
									.vision-name Tầm nhìn
									.vision-des Cathay Life Việt Nam tin tưởng sẽ nhân đôi thành công của chiến lược tác động kép hai mũi nhọn "Bảo hiểm + Ngân hàng" từ tập đoàn tài chính Cathay Đài Loan để trở thành định chế tài chính vững mạnh và đáng tin cậy nhất ở Việt Nam.
						.vision
							figure
								.vision-img
									img(src="img/about/v1.png", alt="")
								figcaption
									.vision-name Tầm nhìn
									.vision-des Cathay Life Việt Nam tin tưởng sẽ nhân đôi thành công của chiến lược tác động kép hai mũi nhọn "Bảo hiểm + Ngân hàng" từ tập đoàn tài chính Cathay Đài Loan để trở thành định chế tài chính vững mạnh và đáng tin cậy nhất ở Việt Nam.
section#section4.about-section4
	.container
		.about-title-wrap.text-right
			.about-title-content
				h2.about-title 04. Giải thưởng
				.about-des Doanh nghiệp xuất sắc khu vực Châu Á - Thái Bình Dương
		.award-slick
			.item
				a.award(href="img/about/a1.png" data-fancybox="")
					.award-img
						img(src="img/about/a1.png", alt="")
					.award-name Giải thưởng mẹ tin dùng con lớn khôn 2014
			.item
				a.award(href="img/about/a1.png" data-fancybox="")
					.award-img
						img(src="img/about/a1.png", alt="")
					.award-name Giải thưởng mẹ tin dùng con lớn khôn 2014
			.item
				a.award(href="img/about/a1.png" data-fancybox="")
					.award-img
						img(src="img/about/a1.png", alt="")
					.award-name Giải thưởng mẹ tin dùng con lớn khôn 2014
			.item
				a.award(href="img/about/a1.png" data-fancybox="")
					.award-img
						img(src="img/about/a1.png", alt="")
					.award-name Giải thưởng mẹ tin dùng con lớn khôn 2014
			.item
				a.award(href="img/about/a1.png" data-fancybox="")
					.award-img
						img(src="img/about/a1.png", alt="")
					.award-name Giải thưởng mẹ tin dùng con lớn khôn 2014
			.item
				a.award(href="img/about/a1.png" data-fancybox="")
					.award-img
						img(src="img/about/a1.png", alt="")
					.award-name Giải thưởng mẹ tin dùng con lớn khôn 2014
			.item
				a.award(href="img/about/a1.png" data-fancybox="")
					.award-img
						img(src="img/about/a1.png", alt="")
					.award-name Giải thưởng mẹ tin dùng con lớn khôn 2014
			.item
				a.award(href="img/about/a1.png" data-fancybox="")
					.award-img
						img(src="img/about/a1.png", alt="")
					.award-name Giải thưởng mẹ tin dùng con lớn khôn 2014
section#section5.about-section5
	.container
		.about-title-wrap
			.about-title-content
				h2.about-title 05. Văn phòng đại diện
				.about-des 05. Văn phòng đại diện
		.about-branch
			.branch-map
				iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15677.852398960407!2d106.69441222013455!3d10.775799261793983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f18738d0b5b%3A0x9a4becdf3cd0172b!2zQ8O0bmcgdHkgVE5ISCBC4bqjbyBoaeG7g20gTmjDom4gdGjhu40gQ2F0aGF5IC0gVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1530115018525', width='100%', height='560', frameborder='0', style='border:0', allowfullscreen='')
			.branch-filter
				.filter-option
					label Chọn Tỉnh / Thành
					select
						option Thành phố Hồ Chí Minh
				.filter-result
					ul
						li 7th-8th floor, N'orch Building, 170-170 Bis-172 Bùi Thị Xuân, Dist. 1, HCM city
							br
							|ĐT: (84-28) 6255 6389 - Fax: (84-28) 6255 6388
						li.active 7th-8th floor, N'orch Building, 170-170 Bis-172 Bùi Thị Xuân, Dist. 1, HCM city
							br
							|ĐT: (84-28) 6255 6389 - Fax: (84-28) 6255 6388
						li 7th-8th floor, N'orch Building, 170-170 Bis-172 Bùi Thị Xuân, Dist. 1, HCM city
							br
							|ĐT: (84-28) 6255 6389 - Fax: (84-28) 6255 6388
						li 7th-8th floor, N'orch Building, 170-170 Bis-172 Bùi Thị Xuân, Dist. 1, HCM city
							br
							|ĐT: (84-28) 6255 6389 - Fax: (84-28) 6255 6388
						li 7th-8th floor, N'orch Building, 170-170 Bis-172 Bùi Thị Xuân, Dist. 1, HCM city
							br
							|ĐT: (84-28) 6255 6389 - Fax: (84-28) 6255 6388
						li 7th-8th floor, N'orch Building, 170-170 Bis-172 Bùi Thị Xuân, Dist. 1, HCM city
							br
							|ĐT: (84-28) 6255 6389 - Fax: (84-28) 6255 6388
section#section6.about-section6
	.container
		.about-title-wrap.text-right
			.about-title-content
				h2.about-title 06. Cathay Life Global
				.about-des Luôn tôn trọng khách hàng, hướng tới một dịch vụ hoàn hảo
		.about-place
			.place-slick
				.item
					a.place(href="#!")
						.place-img
							img(src="img/about/g1.jpg", alt="")
						.place-name Cathay Life Đài Loan
				.item
					a.place(href="#!")
						.place-img
							img(src="img/about/g1.jpg", alt="")
						.place-name Cathay Life Đài Loan
				.item
					a.place(href="#!")
						.place-img
							img(src="img/about/g1.jpg", alt="")
						.place-name Cathay Life Đài Loan
section.home-customer
	.container
		h2.home-title.text-center Dành cho khách hàng
		.home-des.text-center Các tiện ích dành riêng cho khách hàng của Cathay Life Việt Nam
		.customer-service
			.row.justify-content-center
				.col-6.col-sm-4.col-md-3.col-lg-3.col-custom
					a.service(href="#!")
						.icon
							img(src="img/icon/s1.png", alt="")
						.name Chương trình khuyến mại
				.col-6.col-sm-4.col-md-3.col-lg-3.col-custom
					a.service(href="#!")
						.icon
							img(src="img/icon/s1.png", alt="")
						.name Chương trình khuyến mại
				.col-6.col-sm-4.col-md-3.col-lg-3.col-custom
					a.service(href="#!")
						.icon
							img(src="img/icon/s1.png", alt="")
						.name Chương trình khuyến mại
				.col-6.col-sm-4.col-md-3.col-lg-3.col-custom
					a.service(href="#!")
						.icon
							img(src="img/icon/s1.png", alt="")
						.name Chương trình khuyến mại
				.col-6.col-sm-4.col-md-3.col-lg-3.col-custom
					a.service(href="#!")
						.icon
							img(src="img/icon/s1.png", alt="")
						.name Chương trình khuyến mại
				.col-6.col-sm-4.col-md-3.col-lg-3.col-custom
					a.service(href="#!")
						.icon
							img(src="img/icon/s1.png", alt="")
						.name Chương trình khuyến mại
				.col-6.col-sm-4.col-md-3.col-lg-3.col-custom
					a.service(href="#!")
						.icon
							img(src="img/icon/s1.png", alt="")
						.name Chương trình khuyến mại
				.col-6.col-sm-4.col-md-3.col-lg-3.col-custom
					a.service(href="#!")
						.icon
							img(src="img/icon/s1.png", alt="")
						.name Chương trình khuyến mại