section.home-product
	.container
		h1.home-title.text-center Sản phẩm dành cho bạn
		.home-des.text-center Cùng Gieo Mầm Hôm Nay- Cho Tương Lai Phồn Thịnh
		.product-slick
			.item
				.product-col
					figure
						a.product-img(href="#!")
							img(src="img/product/h1.jpg", alt="")
						figcaption
							h3.product-name
								a(href="#!") Sản phẩm bảo vệ
							.product-des An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo
			.item
				.product-col
					figure
						a.product-img(href="#!")
							img(src="img/product/h1.jpg", alt="")
						figcaption
							h3.product-name
								a(href="#!") Sản phẩm bảo vệ
							.product-des An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo
			.item
				.product-col
					figure
						a.product-img(href="#!")
							img(src="img/product/h1.jpg", alt="")
						figcaption
							h3.product-name
								a(href="#!") Sản phẩm bảo vệ
							.product-des An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo
			.item
				.product-col
					figure
						a.product-img(href="#!")
							img(src="img/product/h1.jpg", alt="")
						figcaption
							h3.product-name
								a(href="#!") Sản phẩm bảo vệ
							.product-des An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo
			.item
				.product-col
					figure
						a.product-img(href="#!")
							img(src="img/product/h1.jpg", alt="")
						figcaption
							h3.product-name
								a(href="#!") Sản phẩm bảo vệ
							.product-des An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo
			.item
				.product-col
					figure
						a.product-img(href="#!")
							img(src="img/product/h1.jpg", alt="")
						figcaption
							h3.product-name
								a(href="#!") Sản phẩm bảo vệ
							.product-des An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo

section.home-need
	.container
		h2.home-title.text-center Nhu cầu của bạn
		.home-des.text-center Chúng tôi cung cấp đa dạng các sản phẩm theo Nhu cầu tài chính của Quý khách hàng.
		.need-list
			.row
				.col-6.col-md-3
					a.need-col(href="#!")
						.icon
							img(src="img/icon/n1.png", alt="")
						.name Độc thân
				.col-6.col-md-3
					a.need-col(href="#!")
						.icon
							img(src="img/icon/n1.png", alt="")
						.name Độc thân
				.col-6.col-md-3
					a.need-col(href="#!")
						.icon
							img(src="img/icon/n1.png", alt="")
						.name Độc thân
				.col-6.col-md-3
					a.need-col(href="#!")
						.icon
							img(src="img/icon/n1.png", alt="")
						.name Độc thân
section.home-about
	.container
		h2.home-title.text-center Giới thiệu Cathay Life Việt Nam
		.home-des.text-center Luôn tôn trọng khách hàng, hướng tới một dịch vụ hoàn hảo
		.about-content
			.row
				.col-12.col-lg-6
					.about-img.text-center
						img(src="img/about/h1.png", alt="")
					.content.text-center
						p Kế thừa lịch sử gần 50 năm hoạt động thành công cùng quan niệm kinh doanh thực tế, nhiệt thành phục vụ theo phương châm "Luôn tôn trọng khách hàng, hướng tới một dịch vụ hoàn hảo", công ty Cathay ngày càng khẳng định được vị thế của mình tại thị trường trong và ngoài nước, tự tin đưa dịch của công ty từ Đài Loan vươn tới thị trường Việt Nam.
					.btn-wrap.text-center
						a.btn-viewmore(href="#!") Xem thêm
				.col-12.col-lg-6
					.about-vision
						.vision
							figure
								.vision-img
									img(src="img/about/v1.png", alt="")
								figcaption
									.vision-name Tầm nhìn
									.vision-des Cathay Life Việt Nam tin tưởng sẽ nhân đôi thành công của chiến lược tác động kép hai mũi nhọn "Bảo hiểm + Ngân hàng" từ tập đoàn tài chính Cathay Đài Loan để trở thành định chế tài chính vững mạnh và đáng tin cậy nhất ở Việt Nam.
						.vision
							figure
								.vision-img
									img(src="img/about/v1.png", alt="")
								figcaption
									.vision-name Tầm nhìn
									.vision-des Cathay Life Việt Nam tin tưởng sẽ nhân đôi thành công của chiến lược tác động kép hai mũi nhọn "Bảo hiểm + Ngân hàng" từ tập đoàn tài chính Cathay Đài Loan để trở thành định chế tài chính vững mạnh và đáng tin cậy nhất ở Việt Nam.
						.vision
							figure
								.vision-img
									img(src="img/about/v1.png", alt="")
								figcaption
									.vision-name Tầm nhìn
									.vision-des Cathay Life Việt Nam tin tưởng sẽ nhân đôi thành công của chiến lược tác động kép hai mũi nhọn "Bảo hiểm + Ngân hàng" từ tập đoàn tài chính Cathay Đài Loan để trở thành định chế tài chính vững mạnh và đáng tin cậy nhất ở Việt Nam.
.home-news-wrap
	.container
		.row
			.col-12.col-lg-8
				section.home-news
					h2.home-title Tin công ty
					.home-des Hoạt động kinh doanh, xã hội của công ty và thông tin dành cho khách hàng
					.news-list
						.row
							.col-12.col-md-6
								.news-col
									figure
										a.news-img(href="#!")
											img(src="img/news/1.jpg", alt="")
										figcaption
											time
												.date 15
												.month 05/2018
											h3.news-name
												a(href="#!") Bảo Hiểm Nhân Thọ Cathay Việt Nam Lọt Top 10 Công Ty Bảo Hiểm Uy Tín Năm 2017
							.col-12.col-md-6
								.news-col
									figure
										a.news-img(href="#!")
											img(src="img/news/1.jpg", alt="")
										figcaption
											time
												.date 15
												.month 05/2018
											h3.news-name
												a(href="#!") Bảo Hiểm Nhân Thọ Cathay Việt Nam Lọt Top 10 Công Ty Bảo Hiểm Uy Tín Năm 2017
							.col-12.col-md-4
								.news-col
									figure
										a.news-img(href="#!")
											img(src="img/news/1.jpg", alt="")
										figcaption
											time
												.date 15
												.month 05/2018
											h3.news-name
												a(href="#!") Bảo Hiểm Nhân Thọ Cathay Việt Nam Lọt Top 10 Công Ty Bảo Hiểm Uy Tín Năm 2017
							.col-12.col-md-4
								.news-col
									figure
										a.news-img(href="#!")
											img(src="img/news/1.jpg", alt="")
										figcaption
											time
												.date 15
												.month 05/2018
											h3.news-name
												a(href="#!") Bảo Hiểm Nhân Thọ Cathay Việt Nam Lọt Top 10 Công Ty Bảo Hiểm Uy Tín Năm 2017
							.col-12.col-md-4
								.news-col
									figure
										a.news-img(href="#!")
											img(src="img/news/1.jpg", alt="")
										figcaption
											time
												.date 15
												.month 05/2018
											h3.news-name
												a(href="#!") Bảo Hiểm Nhân Thọ Cathay Việt Nam Lọt Top 10 Công Ty Bảo Hiểm Uy Tín Năm 2017
					.btn-wrap.text-center
						a.btn-viewmore(href="#!") Xem thêm
			.col-12.col-lg-4
				section.home-career
					h2.home-title Tin tuyển dụng
					.home-des Cơ hội nghề nghiệp dành cho bạn
					.job-list
						.row
							.col-12.col-sm-6.col-lg-12
								.job-col
									figure
										a.job-img(href="#!")
											img(src="img/career/1.jpg", alt="")
										figcaption
											h3.job-name
												a(href="#!") Tuyển dụng tư vấn viên
							.col-12.col-sm-6.col-lg-12
								.job-col
									figure
										a.job-img(href="#!")
											img(src="img/career/1.jpg", alt="")
										figcaption
											h3.job-name
												a(href="#!") Tuyển dụng tư vấn viên
section.home-customer
	.container
		h2.home-title.text-center Dành cho khách hàng
		.home-des.text-center Các tiện ích dành riêng cho khách hàng của Cathay Life Việt Nam
		.customer-service
			.row.justify-content-center
				.col-6.col-sm-4.col-md-3.col-lg-3.col-custom
					a.service(href="#!")
						.icon
							img(src="img/icon/s1.png", alt="")
						.name Chương trình khuyến mại
				.col-6.col-sm-4.col-md-3.col-lg-3.col-custom
					a.service(href="#!")
						.icon
							img(src="img/icon/s1.png", alt="")
						.name Chương trình khuyến mại
				.col-6.col-sm-4.col-md-3.col-lg-3.col-custom
					a.service(href="#!")
						.icon
							img(src="img/icon/s1.png", alt="")
						.name Chương trình khuyến mại
				.col-6.col-sm-4.col-md-3.col-lg-3.col-custom
					a.service(href="#!")
						.icon
							img(src="img/icon/s1.png", alt="")
						.name Chương trình khuyến mại
				.col-6.col-sm-4.col-md-3.col-lg-3.col-custom
					a.service(href="#!")
						.icon
							img(src="img/icon/s1.png", alt="")
						.name Chương trình khuyến mại
				.col-6.col-sm-4.col-md-3.col-lg-3.col-custom
					a.service(href="#!")
						.icon
							img(src="img/icon/s1.png", alt="")
						.name Chương trình khuyến mại
				.col-6.col-sm-4.col-md-3.col-lg-3.col-custom
					a.service(href="#!")
						.icon
							img(src="img/icon/s1.png", alt="")
						.name Chương trình khuyến mại
				.col-6.col-sm-4.col-md-3.col-lg-3.col-custom
					a.service(href="#!")
						.icon
							img(src="img/icon/s1.png", alt="")
						.name Chương trình khuyến mại