section.home-feature
	.container
		#responsivetabs
			ul.feature-tabs
				li.feature
					a(href="#tab1")
						.icon
							img(src="img/icon/i1.png", alt="")
						.name Điểm mạnh
				li.feature
					a(href="#tab2")
						.icon
							img(src="img/icon/i1.png", alt="")
						.name Điểm mạnh
				li.feature
					a(href="#tab3")
						.icon
							img(src="img/icon/i1.png", alt="")
						.name Điểm mạnh
				li.feature
					a(href="#tab4")
						.icon
							img(src="img/icon/i1.png", alt="")
						.name Điểm mạnh
				li.feature
					a(href="#tab5")
						.icon
							img(src="img/icon/i1.png", alt="")
						.name Điểm mạnh
				li.feature
					a(href="#tab6")
						.icon
							img(src="img/icon/i1.png", alt="")
						.name Điểm mạnh
			#tab1.tab-content
				h1.home-title.text-center điểm khác biệt của citigym
				.diemmanh-list
					.row.no-gutters
						.col-12.col-sm-6.col-md-4
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Sứ mệnh
										.diemmanh-des “Mang thể thao đến gần hơn với người Việt”, cùng tìm hiểu chúng tôi làm thế nào để thực hiện điều đó
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
						.col-12.col-sm-6.col-md-4
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Sứ mệnh
										.diemmanh-des “Mang thể thao đến gần hơn với người Việt”, cùng tìm hiểu chúng tôi làm thế nào để thực hiện điều đó
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
						.col-12.col-sm-6.col-md-4
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Sứ mệnh
										.diemmanh-des “Mang thể thao đến gần hơn với người Việt”, cùng tìm hiểu chúng tôi làm thế nào để thực hiện điều đó
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
						.col-12.col-sm-6.col-md-4
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Sứ mệnh
										.diemmanh-des “Mang thể thao đến gần hơn với người Việt”, cùng tìm hiểu chúng tôi làm thế nào để thực hiện điều đó
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
						.col-12.col-sm-6.col-md-4
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Sứ mệnh
										.diemmanh-des “Mang thể thao đến gần hơn với người Việt”, cùng tìm hiểu chúng tôi làm thế nào để thực hiện điều đó
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
						.col-12.col-sm-6.col-md-4
							.diemmanh-item
								figure
									.diemmanh-img
										img(src="img/home/f1.jpg", alt="")
									figcaption
										.diemmanh-name Sứ mệnh
										.diemmanh-des “Mang thể thao đến gần hơn với người Việt”, cùng tìm hiểu chúng tôi làm thế nào để thực hiện điều đó
										.btn-wrap.text-center
											a.btn-viewmore(href="#!") Xem thêm
			#tab2.tab-content
			#tab3.tab-content
			#tab4.tab-content
			#tab5.tab-content
			#tab6.tab-content
section.home-news
	.container
		h2.home-title.text-center CẬP NHẬT THÔNG TIN MỚI NHẤT 
		.news-list
			.row
				.col-12.col-sm-6.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.news-name 
									a(href="#!") 7 BÀI TẬP GIẢM MỠ BỤNG CHO NỮ HIỆU QUẢ
								time 02/06/2018
								.news-des Tập ngay Bài tập giảm mỡ bụng cho nữ dưới đây để có ngay một vòng eo con kiến săn chắc và quyến rũ như mơ ước của tất cả các cô gái
								
				.col-12.col-sm-6.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.news-name 
									a(href="#!") 7 BÀI TẬP GIẢM MỠ BỤNG CHO NỮ HIỆU QUẢ
								time 02/06/2018
								.news-des Tập ngay Bài tập giảm mỡ bụng cho nữ dưới đây để có ngay một vòng eo con kiến săn chắc và quyến rũ như mơ ước của tất cả các cô gái
								
				.col-12.col-sm-6.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.news-name 
									a(href="#!") 7 BÀI TẬP GIẢM MỠ BỤNG CHO NỮ HIỆU QUẢ
								time 02/06/2018
								.news-des Tập ngay Bài tập giảm mỡ bụng cho nữ dưới đây để có ngay một vòng eo con kiến săn chắc và quyến rũ như mơ ước của tất cả các cô gái
								
				.col-12.col-sm-6.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.news-name 
									a(href="#!") 7 BÀI TẬP GIẢM MỠ BỤNG CHO NỮ HIỆU QUẢ
								time 02/06/2018
								.news-des Tập ngay Bài tập giảm mỡ bụng cho nữ dưới đây để có ngay một vòng eo con kiến săn chắc và quyến rũ như mơ ước của tất cả các cô gái
section.home-connect
	.container
		h2.home-title.text-center.text-white kết nối với chúng tôi
		.home-des.text-center.text-white.text-500 Get more active online and tag your #CitiGym moments here or leave a comment on our Facebook page with #CitiGym to be part of the conversation. After all, sharing is caring...
		.social-connect
			.row.no-gutters.justify-content-center
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
section.home-club
	.container
		.club-title.text-center cùng khám phá thông tin và lợi ích tập luyện của từng lớp học tại citigym
		.btn-wrap.text-center
			a.btn-visit(href="#!") Tham quan câu lạc bộ