section.home-feature
	.container
		#responsivetabs
			ul.feature-tabs
				li.feature
					a(href="#tab1")
						.icon
							img(src="img/icon/i1.png", alt="")
						.name Điểm mạnh
				li.feature
					a(href="#tab2")
						.icon
							img(src="img/icon/i1.png", alt="")
						.name Điểm mạnh
				li.feature
					a(href="#tab3")
						.icon
							img(src="img/icon/i1.png", alt="")
						.name Điểm mạnh
				li.feature
					a(href="#tab4")
						.icon
							img(src="img/icon/i1.png", alt="")
						.name Điểm mạnh
				li.feature
					a(href="#tab5")
						.icon
							img(src="img/icon/i1.png", alt="")
						.name Điểm mạnh
				li.feature
					a(href="#tab6")
						.icon
							img(src="img/icon/i1.png", alt="")
						.name Điểm mạnh
			#tab1.tab-content
			#tab2.tab-content
			#tab3.tab-content
			#tab4.tab-content
			#tab5.tab-content
			#tab6.tab-content