.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
section.schedule-page
	.container
		h1.page-title.text-center Đăng ký học
		.row
			.col-12.col-lg-5
				.sendmess-form
					.module-title Thành viên
					.form-wrap
						.form-group
							label Họ tên
							input(type="text")
						.form-group
							label Mật khẩu
							input(type="password")
						.form-group
							.checkbox
								input#cb1(type="checkbox", name="cb")
								label(for="cb1") Nhớ mật khẩu
						.frm-btn
							input(type="submit", value="Đăng nhập")
						.forget
							a(href="#!") Quên mật khẩu?
			.col-12.col-lg-7
				.welcome-member
					.content.text-center
						h3.text-center.text-600 Chào mừng học viên
						p Wanna save a spot in your favourite class? No problem - we've got you covered. mylocker is filled with features designed to help you at every step of your health and fitness journey.
				.welcome-member
					.content.text-center
						h3.text-center.text-600 Chưa là thành viên?
						p We'd love to show you around one of our amazing clubs - we have 100's of classes each week ready with a spot waiting just for you. Book a visit and one of our friendly relationship consultants will arrange a time to show you around. Might just be the best life decision you make today.
					.btn-wrap.text-center.pt-3
						a.btn-visit(href="#!") Đăng ký tham quan
section.home-connect
	.container
		h2.home-title.text-center.text-white kết nối với chúng tôi
		.home-des.text-center.text-white.text-500 Get more active online and tag your #CitiGym moments here or leave a comment on our Facebook page with #CitiGym to be part of the conversation. After all, sharing is caring...
		.social-connect
			.row.no-gutters.justify-content-center
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
				.col-12.col-sm-6.col-lg-3
					a.fb-post(href="#!")
						figure
							.post-img
								img(src="img/home/post1.jpg", alt="")
							.fb-info
								.fb-user dc.conditioning
								time 05.06.2018
							figcaption
								.fb-des Row, row, row your boat. 3x10 @ 50kgs Few cues I look for with the DB row: Maintain a neutral spine Begin row with scapula retraction Pull to the hip #keepitsimple
section.home-club
	.container
		.club-title.text-center cùng khám phá thông tin và lợi ích tập luyện của từng lớp học tại citigym
		.btn-wrap.text-center
			a.btn-visit(href="#!") Tham quan câu lạc bộ