section.breadcrumb-wrap
	.container
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Liên hệ
section.contact-page
	.container
		//- h1.home-title.text-center SƠ LƯỢC VỀ CÔNG TY THIÊN QUỐC
		.row
			.col-12.col-lg-8
				.contact-form
					.form-wrap
						.form-row
							.form-group.col-12
								label(for="#!") Tên(*)
								input(type="text")
							.form-group.col-12
								label(for="#!") Công ty
								input(type="text")
							.form-group.col-12.col-md-6
								label(for="#!") Email(*)
								input(type="text")
							.form-group.col-12.col-md-6
								label(for="#!") Số điện thoại
								input(type="text")
							.form-group.col-12
								label(for="#!") Yêu cầu
								textarea(name="", cols="30", rows="3")
							.frm-btn
								input(type="submit", value="Gửi")
			.col-12.col-lg-4
				.contact-map
					iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.470328882608!2d106.68661631538359!3d10.77524399232227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3b309e9977%3A0x223a8534302e7eb6!2zMTQ0IFbDtSBWxINuIFThuqduLCBQaMaw4budbmcgNiwgUXXhuq1uIDMsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1529909671872', width='100%', height='300', frameborder='0', style='border:0', allowfullscreen='')
			.col-12
				.contact-info
					h1.company Công ty TNHH Thương Mại Thiên Quốc
					ul
						li 144 Võ Văn Tần, Phường 6, Quận 3, TPHCM
						li Email: info@thienquoc.vn
						li Tel: +84 (0)28 3930 7476
						li Fax: +84 (0)28 3930 7477
						li Website: www.thienquoc.vn
						li Facebook: thienquoc.company
