section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/3.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!") 
						span Trang chủ
				li
					a(href="#!")
						span Nhu cầu
section.need-page
	.container
		h1.home-title.text-center Nhu cầu của bạn
		.home-des.text-center Chúng tôi cung cấp đa dạng các sản phẩm theo Nhu cầu tài chính của Quý khách hàng.
		.need-list
			.row
				.col-12.col-md-6
					a.need-col(href="#!")
						.need-img
							img(src="img/product/n1.jpg", alt="")
						.need-name Độc thân
				.col-12.col-md-6
					a.need-col(href="#!")
						.need-img
							img(src="img/product/n1.jpg", alt="")
						.need-name Vừa lập gia đình
				.col-12.col-md-6
					a.need-col(href="#!")
						.need-img
							img(src="img/product/n1.jpg", alt="")
						.need-name Gia đình có trẻ nhỏ
				.col-12.col-md-6
					a.need-col(href="#!")
						.need-img
							img(src="img/product/n1.jpg", alt="")
						.need-name Sắp nghỉ hưu