section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/2.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!") 
						span Trang chủ
				li
					a(href="#!")
						span Sản phẩm
				li
					a(href="#!")
						span Sản phẩm bảo vệ
				li
					a(href="#!")
						span Bảo Hiểm Định Kỳ Vượt Trội Cathay
section.product-section
	.container
		.product-content
			.row
				.col-12.col-lg-6.col-xl-7
					h1.home-title.mb-3 Bảo Hiểm Định Kỳ Vượt Trội Cathay
					.content
						p Với lòng tin vững chắc và cam kết vì một cuộc sống tốt đẹp hơn cho bạn, Bảo hiểm nhân thọ Cathay Việt Nam vẫn luôn vững bước cùng bạn trên mọi nẻo đường, trong mọi hoàn cảnh cuộc sống.
						p Với quan niệm trên, Chúng tôi trân trọng giới thiệu đến bạn Sản phẩm “Bảo hiểm Định kỳ Vượt trội Cathay” với các Quyền lợi vượt trội.
				.col-12.col-lg-6.col-xl-5
					.product-pic
						img(src="img/product/img1.jpg", alt="")
		.product-feature
			h2.page-title.text-green.text-center Đặc điểm Sản phẩm
			.row
				.col-12.col-md-4
					.feature
						.icon
							img(src="img/product/f1.png", alt="")
						.name Mệnh giá bảo vệ gia tăng hàng năm
				.col-12.col-md-4
					.feature
						.icon
							img(src="img/product/f1.png", alt="")
						.name Nhận 
							span.text-green 110% 
							|Tổng phí bảo hiểm đã đóng hàng năm khi kết thúc thời hạn đóng phí
				.col-12.col-md-4
					.feature
						.icon
							img(src="img/product/f1.png", alt="")
						.name Bảo vệ miễn phí thêm 
							span.text-green 5 năm 
							|sau khi kết thúc thời hạn đóng phí
section.product-section.s2
	.container
		h2.page-title.text-green.text-center Quyền lợi Bảo hiểm
		.benefit-list
			.row
				.col-12.col-md-6.col-lg-4
					.benefit-col
						figure
							.benefit-icon
								img(src="img/product/b1.png", alt="")
							figcaption
								.benefit-name Quyền lợi bảo hiểm khi tử vong hoặc bị TTTBVV
								.benefit-des Công ty chi trả Số tiền bảo hiểm gia tăng tương ứng với năm hợp đồng.
				.col-12.col-md-6.col-lg-4
					.benefit-col
						figure
							.benefit-icon
								img(src="img/product/b2.png", alt="")
							figcaption
								.benefit-name Quyền lợi bảo hiểm phụ trội khi tử vong hoặc bị TTTBVV do tai nạn
								.benefit-des Công ty chi trả thêm 100% STBH, ngoài quyền lợi bảo hiểm khi tử vong hoặc bị TTTBVV nói trên
				.col-12.col-md-6.col-lg-4
					.benefit-col
						figure
							.benefit-icon
								img(src="img/product/b3.png", alt="")
							figcaption
								.benefit-name Quyền lợi hoàn trả tiền mặt
								.benefit-des Vào ngày đáo hạn kết thúc thời hạn đóng phí, Công ty chi trả 110% Tổng phí bảo hiểm hàng năm
				.col-12.col-md-6.col-lg-4
					.benefit-col
						figure
							.benefit-icon
								img(src="img/product/b4.png", alt="")
							figcaption
								.benefit-name Quyền lợi đáo hạn đóng phí
								.benefit-des Sau khi kết thúc thời hạn đóng phí bảo hiểm, Công ty chi trả 100% Số tiền bảo hiểm
				.col-12.col-md-6.col-lg-4
					.benefit-col
						figure
							.benefit-icon
								img(src="img/product/b5.png", alt="")
							figcaption
								.benefit-name Quyền lợi trường thọ 
								.benefit-des Vào ngày đáo hạn, Công ty sẽ chi trả Quyền lợi trường thọ bằng 100% Số tiền bảo hiểm.
				.col-12.col-md-6.col-lg-4
					.benefit-col
						figure
							.benefit-icon
								img(src="img/product/b6.png", alt="")
							figcaption
								.benefit-name Quyền lợi tử vong ứng trước
								.benefit-des Nếu Người được bảo hiểm được chẩn đoán là tình trạng sức khỏe ở Giai đoạn cuối thì Công ty sẽ chi trả 50% Quyền lợi tử vong gần nhất căn cứ vào yêu cầu của Bên mua bảo hiểm.
		.benefit-note
			.row
				.col-12.col-lg-2
					label Ghi chú:
				.col-12.col-lg-10
					.content
						ul.dot
							li.mb-2
								strong STBH : 
								|Số tiền bảo hiểm
							li.mb-2
								strong STBH gia tăng : 
								|Trong thời hạn đóng phí, STBH gia tăng bằng một trăm phần trăm (100%) STBH cộng với lãi tích lũy bằng mười phần trăm (10%) mỗi năm hợp đồng trên STBH gốc. Sau thời hạn đóng phí, STBH sẽ tương ứng với các thời hạn hợp đồng như trong bảng sau
						.note-table
							table
								thead
									tr
										th Thời hạn hợp đồng
										th 15 năm
										th 20 năm
										th 25 năm
								tbody
									tr
										td STBH gia tăng
										td 200% STBH
										td 250% STBH
										td 300% STBH
						ul.dot
							li
								strong TTTBVV : 
								|Thương tật toàn bộ và vĩnh viễn
section.product-section
	.container
		h2.page-title.text-green.text-center Điều kiện tham gia
		.product-condition
			.row.no-gutters
				.col-12.col-lg-6
					.condition-img
						img.w-100(src="img/product/img2.jpg", alt="")
				.col-12.col-lg-6
					.condition-table
						table
							tr
								th <i class="material-icons">attach_money</i>Thời hạn đóng phí
								td 10, 15, 20 năm
							tr
								th <i class="material-icons">description</i>Thời hạn hợp đồng
								td 15, 20, 25 năm tương ứng với các thời hạn đóng phí 10, 15, 20 năm.
							tr
								th <i class="material-icons">vpn_key</i>Tuổi tham gia bảo hiểm
								td 0 ~ 50 tuổi
							tr
								th <i class="material-icons">all_inclusive</i>Tuổi tối đa tại ngày đáo hạn hợp đồng
								td 65 tuổi
							tr
								th <i class="material-icons">date_range</i>Định kỳ đóng phí
								td hàng tháng, hàng quí, hàng nữa năm, hàng năm
section.product-section.s2
	.container
		h2.page-title.text-green.text-center Minh họa Quyền lợi
		.benefit-content
			.title.text-center Sản phẩm 
				span.text-lgreen Bảo hiểm Định kỳ Vượt trội Cathay 
				|cho anh Nguyễn Văn A, 35 tuổi
			.benefit
				.benefit-img
					img(src="img/product/bi1.jpg", alt="")
					.caption Mức đóng phí
				.benefit-chart
					.chart-wrap
						.chart-map
							.start 35 tuổi
							.end 50 tuổi
							.dot.start
							.dot.end
							.benefit-des
								.img.text-center.mb-2
									img(src="img/product/bimg1.png", alt="")
								p.text-center Phí hợp đồng bảo hiểm: 
									span.text-silver 2.982.000 VND/năm
							.end-content.text-center
								img(src="img/product/bimg2.png", alt="")
								p STBH 42 triệu VND
						.chart-content.content.text-center
							p Thời hạn đóng phí: 
								span.text-silver 15 năm
								br
								em.text-silver tương ứng với thời hạn hợp đồng 20 năm 
			.benefit
				.benefit-img
					img(src="img/product/bi2.jpg", alt="")
					.caption Quyền lợi bảo hiểm
				.benefit-chart
					.chart-wrap
						.chart-map
							.start 35 tuổi
							.end 50 tuổi
							.dot.start
							.dot.end
							.benefit-des
								.content
									p Quyền lợi hoàn trả tiền mặt : 
										span.text-silver 49.203.000 VND
										br
										|Quyền lợi bảo hiểm tử vong/TTTBVV* : 
										span.text-silver 46.200.000 - 105.000.000 VND
										br
										|Quyền lợi bảo hiểm phụ trội tử vong/TTTBVV do tai nạn của Người được bảo hiểm : 
										span.text-silver 42.000.000 VND
										br
										|Tổng quyền lợi hoàn lãi chênh lệch** : 
										span.text-silver 12.097.000VND
						.chart-note
							label Ghi chú
							.content
								p 
									span.text-red (*) 
									strong TTTBVV : 
									|Thương tật toàn bộ và vĩnh viễn
								p 
									span.text-red (**) 
									| Tổng giá trị hoàn lãi chênh lệch được tính dựa trên giả định về lãi suất công bố 11,5% trong suốt thời hạn hợp đồng.

section.product-section
	.container
		.product-support
			h2.page-title.text-center Sản phẩm Bổ trợ
			.support-slick
				.item
					a.support-col(href="#!")
						.support-name Bảo hiểm tai nạn cá nhân Cathay 
						.support-des An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo …
				.item
					a.support-col(href="#!")
						.support-name Bảo hiểm bổ trợ từ bỏ thu phí 
						.support-des Bảo hiểm bổ trợ từ bỏ thu phí giúp bạn an tâm trong mọi hoàn cảnh. Tham gia sản phẩm “Bảo hiểm bổ trợ từ bỏ thu phí”là một cách bạn tối đa hóa sự an toàn của bản thân và gia đình...
				.item
					a.support-col(href="#!")
						.support-name Bảo hiểm tai nạn cá nhân dành cho trẻ em Cathay
						.support-des Bảo hiểm tai nạn cá nhân dành cho trẻ em Cathay là sản phẩm bổ trợ duy nhất dành cho trẻ em trên thị trường bảo hiểm Việt Nam hiện nay...
				.item
					a.support-col(href="#!")
						.support-name Bảo hiểm tai nạn cá nhân Cathay 
						.support-des An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo …
section.product-section.s2
	.container
		.product-tool
			.row
				.col-12.col-sm-6.col-md-4
					a.tool(href="#!")
						.icon
							img(src="img/product/t1.png", alt="")
						.name Tài liệu giới thiệu sản phẩm
				.col-12.col-sm-6.col-md-4
					a.tool(href="#!")
						.icon
							img(src="img/product/t1.png", alt="")
						.name Tài liệu giới thiệu sản phẩm
				.col-12.col-sm-6.col-md-4
					a.tool(href="#!")
						.icon
							img(src="img/product/t1.png", alt="")
						.name Tài liệu giới thiệu sản phẩm