section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/2.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!") 
						span Trang chủ
				li
					a(href="#!")
						span Sản phẩm
section.product-page
	.container
		h1.home-title.text-center Sản phẩm dành cho bạn
		.home-des.text-center Cùng Gieo Mầm Hôm Nay - Cho Tương Lai Phồn Thịnh
		.product-list
			.row
				.col-6.col-sm-6.col-md-4
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h3.product-name
									a(href="#!") Sản phẩm bảo vệ
								.product-des An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo
				.col-6.col-sm-6.col-md-4
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h3.product-name
									a(href="#!") Sản phẩm bảo vệ
								.product-des An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo
				.col-6.col-sm-6.col-md-4
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h3.product-name
									a(href="#!") Sản phẩm bảo vệ
								.product-des An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo
				.col-6.col-sm-6.col-md-4
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h3.product-name
									a(href="#!") Sản phẩm bảo vệ
								.product-des An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo
				.col-6.col-sm-6.col-md-4
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h3.product-name
									a(href="#!") Sản phẩm bảo vệ
								.product-des An tâm chăm sóc bản thân và gia đình với các kế hoạch bảo vệ tài chính toàn diện trước những rủi ro tai nạn, bệnh hiểm nghèo